.app {
	display: grid;
	margin: 25px 10px 10px 10px;
	grid-template-rows: 10%px 80%;
	align-items: flex-end;
}

.search-bar {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	margin: 20px 0px;
	flex-wrap: wrap;
}
