.paginate-container {
	display: flex;
	justify-content: center;
	padding: 0px;
	cursor: pointer;
}

.paginate-container > li {
	list-style: none;
}

.paginate-container > li > a {
	padding: 10px 20px;
	margin: 5px;
	display: inline-block;
	background-color: rgb(251, 251, 251);
	border: 0.5px solid black;
}
