.container {
	overflow-x: auto;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
	width: 100%;
	border: 1px solid #ddd;
}

th {
	background-color: ghostwhite;
	padding: 15px;
}

td {
	text-align: center;
	padding: 10px;
}

td:last-of-type {
	text-decoration: underline;
	cursor: pointer;
}

td:last-of-type:hover {
	scale: 1.1;
}

.paginate-container {
	display: flex;
	justify-content: space-around;
	padding: 0px;
	cursor: pointer;
}

.paginate-container > li {
	list-style: none;
}

.paginate-container > li > a {
	padding: 10px;
	display: inline-block;
	background-color: rgb(251, 251, 251);
	border: 0.5px solid black;
}
