.container {
	overflow-x: auto;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
	width: 100%;
	border: 1px solid #ddd;
}

th {
	background-color: ghostwhite;
	padding: 15px;
}

td {
	text-align: center;
	padding: 10px;
}

.last {
	text-decoration: underline;
	cursor: pointer;
}

.last:hover {
	scale: 1.1;
}
